
<section class="meetings-page" id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="meeting-single-item">
              <div class="thumb">
                <div class="price">
                  <span>${{course._price}}</span>
                </div>
                
                <a href="course_details"><img src="https://res.cloudinary.com/vodinhphuc-fit-hcmus/image/upload/edumeeting/images/course/course_{{course._course_ID}}" alt=""></a>
              </div>
              <div class="down-content">
                <a href="/course_details">
                  <h4>{{course._name}}</h4>
                </a>
                <p>{{course._room}}</p>
                <p class="description">
                  {{course._description}}
                </p>
                
              </div>
            </div>
          </div>
         
              <div class="col-lg-12">
              <div class="main-button-red">
                <a href="/courses">Back To Courses List</a>
              </div>
              <div class="col-lg-12">
              <div class="main-button-red">
                <a href="/courses/{{course._course_ID}}/class">View Available Classes</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>