<section class="meetings-page" id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="meeting-single-item">
              <div class="thumb">
                <div class="price">
                  <span>${{course._price}}</span>
                </div>

                <a href="course_details"><img src="{{course._image}}"
                    alt="https://admissions.vnu.edu.vn/assets/uploads/files/News/af81e-2.png"></a>
              </div>
              <div class="down-content">
                <h4>{{course._name}}</h4>
                <div style="font-style: italic;"><i class="fa fa-eye"></i> {{course._views}} Views</div>
                <p>{{course._room}}</p>
                <p class="description">
                  {{course._description}}
                </p>

              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="row">
              <div class="main-button-red col-lg-6">
                <a href="/courses">Back To Courses List</a>
              </div>
              <div class="col-lg-6">
                <div class="main-button-red">
                  <a href="/courses/{{course._course_ID}}/class">View Available Classes</a>
                </div>
              </div>
            </div>



            <!-- comments container -->



          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="comment_container">
        <div class="comment_block">


          <!-- used by #{user} to create a new comment -->
          <div class="create_new_comment">
            <!-- current #{user} avatar -->
            <div class="user_avatar">
              {{#if student}}
              <img src={{student.avatar}}>
              {{else}}
              <img src="https://www.marketingmuses.com/wp-content/uploads/2018/01/invis-user.png">
              {{/if}}

            </div><!-- the input field -->
            <div class="input_comment">
              <input type="hidden" value="{{course._course_ID}}" id='courseID'>
              <textarea placeholder="Place your comment about this course here.." style="width:100%"
                id='comment-content'></textarea>
            </div>
            <button class="btn btn-primary" id="btn-comment" style="margin-left: 10px;">Comment</button>
          </div>
          <!-- new comment -->

          <ul class="new_comment" id="comment-container">
            <!-- build comment -->
            {{#each comments}}
            <li class="user_comment">
              <!-- current #{user} avatar -->
              <!-- the comment body -->
              <div class="infor">
                <div class="user_avatar">
                  <img src={{this.[Student.User._avatar]}}>
                </div>
                <div class="username">
                  {{this.[Student.User._firstName]}} {{this.[Student.User._lastName]}}
                </div>
              </div>
              <div class="comment_body">
                <p>{{this._content}}</p>
              </div>
              <!-- comments toolbar -->
              <div class="comment_toolbar">
                <!-- inc. date and time -->
                <div class="comment_details">
                  <ul>
                    <li><i class="fa fa-calendar"></i> {{this._create_At}}</li>
                  </ul>
                </div><!-- inc. share/reply and love -->
              </div>
            </li>
            {{/each}}

          </ul>

        </div>
      </div>

    </div>
  </div>

</section>

<script id="element-comment" src='js/handlebars-v4.0.5.js'>
  <div class="user_comment">
    <div class="infor">
      <div class="user_avatar">
        <img src= \{{_avatar}}>
      </div>
      <div class="username">
        \{{_firstName}} \{{_lastName}}
      </div>
    </div>
    <div class="comment_body">
      <p>\{{_content}}</p>
    </div>
    <div class="comment_toolbar">
      <div class="comment_details">
        <ul>
          <li><i class="fa fa-calendar"></i> \{{_create_At}}</li>
        </ul>
      </div>
    </div>
  </div>
</script>