<style>
     .payment {
        margin: 0;
        padding: 15px;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .btn.btn-primary {
        width: 100%;
        height: 55px;
        border-radius: 0;
        padding: 13px 0;
        background-color: black;
        border: none;
        font-weight: 600
    }

    .btn.btn-primary:hover .fas {
        transform: translateX(10px);
        transition: transform 0.5s ease
    }

    .fw-900 {
        font-weight: 900
    }

    ::placeholder {
        font-size: 12px
    }

    .ps-30 {
        padding-left: 30px
    }

    .h4 {
        font-family: 'Work Sans', sans-serif !important;
        font-weight: 800 !important
    }

    .textmuted,
    h5,
    .text-muted {
        font-family: 'Poppins', sans-serif
    }
</style>
<section class="section main-banner" id="top" data-section="section1">
    <img src="/assets/images/heading-bg.jpg" id="bg-video">

    <div class="video-overlay header-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="caption">
                        <h2>Thanks for believing on us</h2>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container" style="margin-top: 20px">
<div class="payment">
    <div class="row m-0">
        <div class="col-lg-7 pb-5 pe-lg-5">
            <div class="row">
                <div class="col-12 p-5"> <img src={{Class.[Course._image]}} alt=""> </div>
                <div class="row m-0 bg-light">
                    <div class="col-md-4 col-6 ps-30 pe-0 my-4">
                        <p class="text-muted">Name of course</p>
                        <p class="h5">{{Class.[Course._name]}}</p>
                    </div>
                    <div class="col-md-4 col-6 ps-30 my-4">
                        <p class="text-muted">Teacher</p>
                        <p class="h5 m-0">{{Class.[Teacher.User._firstName]}} {{Class.[Teacher.User._lastName]}}</p>
                    </div>
                    <div class="col-md-4 col-6 ps-30 my-4">
                        <p class="text-muted">Period</p>
                        <p class="h5 m-0">3 Months</p>
                    </div>
                    <div class="col-md-4 col-6 ps-30 my-4">
                        <p class="text-muted">Lesson per week</p>
                        <p class="h5 m-0">2</p>
                    </div>
                    <div class="col-md-4 col-6 ps-30 my-4">
                        <p class="text-muted">Start date</p>
                        <p class="h5 m-0">{{Class._startDate}}</p>
                    </div>
                    <div class="col-md-4 col-6 ps-30 my-4">
                        <p class="text-muted">End day</p>
                        <p class="h5 m-0"> {{Class._endDate}}</p>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="classID" value={{Class._class_ID}}>
        <div class="col-lg-5 p-0 ps-lg-4">
            <div class="row m-0">
                <div class="col-12 px-4" style="margin-top:20px">
                    <div class="d-flex align-items-end mt-4 mb-2">
                        <p class="h4 m-0"><span class="pe-1">ZAZ</span><span class="pe-1">966</span><span
                                class="pe-1">B</span></p>
                        <P class="ps-3 textmuted">1L</P>
                    </div>
                    
                    <div class="d-flex justify-content-between mb-2">
                        <p class="textmuted">Subtotal</p>
                        <p class="fs-14 fw-bold"><span class="fas fa-dollar-sign pe-1">{{Class.[Course._price]}}</span></p>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <p class="textmuted">Promo code</p>
                        <p class="fs-14 fw-bold">-<span class="fas fa-dollar-sign px-1"></span>0</p>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <p class="textmuted fw-bold">Total</p>
                        <div class="d-flex align-text-top "> 
                            <span class="fas fa-dollar-sign mt-1 pe-1 fs-14 "></span>{{Class.[Course._price]}}<span class="h4"></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 px-0">
                    <div class="row bg-light m-0">
                        <div class="col-12 px-4 my-4">
                            <p class="fw-bold">Payment detail</p>
                        </div>
                        <div class="col-12 px-4">
                            <div class="d-flex mb-4"> <span class="">
                                    <p class="text-muted">Card number</p> <input class="form-control" type="text"
                                        value="4485 6888 2359 1498" placeholder="1234 5678 9012 3456">
                                </span>
                                <div class=" w-100 d-flex flex-column align-items-end">
                                    <p class="text-muted">Expires</p> <input class="form-control2" type="text"
                                        value="01/2020" placeholder="MM/YYYY">
                                </div>
                            </div>
                            <div class="d-flex mb-5"> <span class="me-5">
                                    <p class="text-muted">Cardholder name</p> <input class="form-control" type="text"
                                        value="David J.Frias" placeholder="Name">
                                </span>
                                <div class="w-100 d-flex flex-column align-items-end">
                                    <p class="text-muted">CVC</p> <input class="form-control3" type="text" value="630"
                                        placeholder="XXX">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-12 mb-4 p-0">
                            <div class="btn btn-primary" id='btn-purchase'>Purchase<span class="fas fa-arrow-right ps-2"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

