<!-- Bootstrap core CSS -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


<!-- Additional CSS Files -->
<link rel="stylesheet" href="/assets/css/fontawesome.css">
<link rel="stylesheet" href="/assets/css/templatemo-edu-meeting.css">
<link rel="stylesheet" href="/assets/css/owl.css">
<link rel="stylesheet" href="/assets/css/lightbox.css">
<section class="heading-page header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <h2>Available classes of {{classes.[0].[Course._name]}}</h2>

      </div>
    </div>
  </div>
</section>
<section class="meetings-page" id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">

          </div>
          <div class="col-lg-12">
            <div class="row grid">
              {{#each classes}}
              <div class="col-lg-4 templatemo-item-col all soon">
                <div class="meeting-item">
                  <div class="thumb">
                    <a href="/course_details/{{this._course_ID}}"><img src={{this.[Course._image]}} alt=""></a>
                  </div>
                  <div class="down-content">

                    <h4>Class: {{this._className}}</h4>
                    <div class="row">
                      <div class="col-lg-5" style="font-weight: bold;">Teacher:</div>
                      <div class="col-lg-7">{{this.[Teacher.User._firstName]}} {{this.[Teacher.User._lastName]}}</div>
                    </div>
                     <div class="row">
                      <div class="col-lg-5" style="font-weight: bold;">Start on:</div>
                      <div class="col-lg-7">{{this._startDate}}</div>
                    </div>
                     <div class="row">
                      <div class="col-lg-5" style="font-weight: bold;">End on:</div>
                      <div class="col-lg-7">{{this._endDate}}</div>
                    </div>
                     <div class="row">
                    
                      <div class="col-lg-5" style="font-weight: bold;">1st Lesson:</div>
                      <div class="col-lg-7">{{this.[Schedule1._dayOfWeek]}}: {{this.[Schedule1._startHour]}}-{{this.[Schedule1._endHour]}}</div>
                    </div>
                     <div class="row">
                      <div class="col-lg-5" style="font-weight: bold;">2nd Lesson:</div>
                      <div class="col-lg-7">{{this.[Schedule2._dayOfWeek]}}: {{this.[Schedule2._startHour]}}-{{this.[Schedule2._endHour]}}</div>
                    </div>
                     <div class="row">
                      <div class="col-lg-5" style="font-weight: bold;">At room:</div>
                      <div class="col-lg-7">{{this._room}}</div>
                    </div>
                     <div class="row">
                      <div class="col-lg-5" style="font-weight: bold;">Lessons:</div>
                      <div class="col-lg-7">{{this._numberOfLesson}}</div>
                    </div>
                     <div class="row">
                      <div class="col-lg-5" style="font-weight: bold;">Current size:</div>
                      <div class="col-lg-7">{{this._currentNumber}}/{{this._maxNumber}}</div>
                    </div>
                   
                    <div class="col-lg-12">
                      <div class="main-button-red">
                        <a href="/courses/class/payment/{{this._class_ID}}">Register</a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              {{/each}}
            </div>
          </div>
          <div class="col-lg-12">
            <div class="pagination pagination-centered">
              <ul>
                {{#paginate pagination type="previous"}}
                <li {{#if disabled}}class="disabled" {{/if}}><a href="?p={{n}}">Prev</a></li>
                {{/paginate}}
                {{#paginate pagination type="middle" limit="3"}}
                <li {{#if active}}class="active" {{/if}}><a href="?p={{n}}">{{n}}</a></li>
                {{/paginate}}
                {{#paginate pagination type="next"}}
                <li {{#if disabled}}class="disabled" {{/if}}><a href="?p={{n}}">Next</a></li>
                {{/paginate}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</section>